<section class="chatspanel">
    <div class="dash">
        <img id="profileImage" src="/images/user.jpg">
        <h5 class="pt-2" style="text-align: center;">{{user.username}}</h5>
        <hr>

        <div class="dashButtons">
            <button onclick="window.location.href='/userpanel/found'" class="btnLS">Found</button>
            <button onClick="window.location.href='/userpanel/lost'" class="btnLS">Lost</button>
            <button class="btnLS">Settings</button>
            <button onclick="window.location.href='/userpanel/chatspanel'" class="btnLS">Chats</button>
        </div>
    </div>



    <div class="detailedcontent" style="padding-top: 70px; padding-bottom: 70px;">
        <div class="container">
            <div class="content">
                <div class="section products">
                    <h3>Chats</h3>
                    {{#if messages}}
                    {{#each messages}}
                    <div class="item">
                        <img src="/product-images/{{this._id}}.jpg" class="imgsc" alt="{{this.category}}"
                            onerror="this.onerror=null;this.src='/images/google-docs.png';">
                        <div class="details">
                            <h5 onclick="window.location.href='/chat/product{{this._id}}'">{{this.username}}</h5>
                            <p style="font-weight: 600;">{{this.message}}</p>
                            <p>{{this.timestamp}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>No products</p>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>

</section>