<section style="padding-top: 70px; padding-bottom: 70px;">
    {{#if foundItem}}
    <hr>
    <div style="display: flex;">
        <h6>Topic :</h6>
        <h6 style="font-weight: 500;">Found Items</h6>
    </div>
    <hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="/product-images/{{foundItem._id}}.jpg" class="imgsc" alt="{{foundItem.category}}"
                    onerror="this.onerror=null;this.src='/images/google-docs.png';">
            </div>
            <div class="col-md-6" style="padding-top: 10%;">
                <h1 class="product-name">{{foundItem.category}}</h1>
                <div class="price">{{foundItem.number}}</div>
                <div class="price">{{foundItem.name}}</div>
                <p class="product-description">
                    {{foundItem.review}}
                </p>
                {{#if foundItem.complete}}
                <center>
                    <h2 style="background-color: orange; padding: 10px;">COMPLETED</h2>
                </center>
                {{else}}
                <center><a href="/chat/found{{foundItem._id}}" class="btn btn-primary btn-lg mt-3">Chat</a></center>
                {{/if}}
            </div>
        </div>
    </div>
    {{else if lostItem}}
    <hr>
    <div style="display: flex;">
        <h6>Topic :</h6>
        <h6 style="font-weight: 500;">Lost Items</h6>
    </div>
    <hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="/product-images/{{lostItem._id}}.jpg" class="imgsc" alt="{{lostItem.category}}"
                    onerror="this.onerror=null;this.src='/images/google-docs.png';">

            </div>
            <div class="col-md-6" style="padding-top: 10%;">
                <h1 class="product-name">{{lostItem.category}}</h1>
                <div class="price">{{lostItem.number}}</div>
                <div class="price">{{lostItem.name}}</div>
                <p class="product-description">
                    {{lostItem.review}}
                </p>
                {{#if lostItem.complete}}
                <center>
                    <h2 style="background-color: orange; padding: 10px;">COMPLETED</h2>
                </center>
                {{else}}
                <center><a href="/chat/product{{lostItem._id}}" class="btn btn-primary btn-lg mt-3">Chat</a></center>
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
        <h2>Oops....No data found</h2>
    </div>
    {{/if}}
</section>