<section class="lsfnpanel" style="padding-top: 100px;">
  <hr style="color: white;">
  {{#if found}}
  <div style="display: flex; color: white;">
    <h6>Topic :</h6>
    <h6 style="font-weight: 500;">Found Items</h6>
  </div>
  <hr style="color: white;">
  <div class="colm" style="color: white;">
    <button onclick="window.location.href='/views/check1'">Lost Items</button>
    <button onclick="window.location.href='/views/check2'">Found Items</button>
    <h6 onclick="foundfilter()">Filter</h6>
  </div>
  <div class="filter" id="foundfilter">
    <form action="/views/check3" method="get">
      <p>Place :</p>
      <select name="fplace">
        <option id="mainoption">{{selectedPlace}}</option>
        {{#each place}}
        <option value="{{this}}" {{#if (eq this ../selectedPlace)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <a href="/views">Clear</a><br><br>
      <p>Category :</p>
      <select name="fcategories">
        <option>{{selectedCategory}}</option>
        {{#each categories}}
        <option value="{{this}}" {{#if (eq this ../selectedCategory)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <a href="/views">Clear</a><br><br>
      <p>Date :</p><br>
      <input type="submit" value="set">
    </form>
  </div>
  {{/if}}

  {{#if product}}
  <div style="display: flex; color: white;">
    <h6>Topic :</h6>
    <h6 style="font-weight: 500;">Lost Items</h6>
  </div>
  <hr style="color: white;">
  <div class="colm">
    <button onclick="window.location.href='/views/check1'">Lost Items</button>
    <button onclick="window.location.href='/views/check2'">Found Items</button>
    <h6 onclick="lostfilter()" style="color: white;">Filter</h6>
  </div>
  <div class="filter" id="lostfilter">
    <form action="/views/check4" method="get">
      <p>Place :</p>
      <select name="fplace">
        <option>{{selectedPlace}}</option>
        {{#each place}}
        <option value="{{this}}" {{#if (eq this ../selectedPlace)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <a href="/views">Clear</a><br><br>
      <p>Category :</p>
      <select name="fcategories">
        <option>{{selectedCategory}}</option>
        {{#each categories}}
        <option value="{{this}}" {{#if (eq this ../selectedCategory)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <a href="/views">Clear</a><br><br>
      <p>Date :</p><br>
      <input type="submit" value="set">
    </form>
  </div>
  {{/if}}
  <hr>
  <div class="container">
    <div class="row">
      {{#if product.length}}
      {{#each product}}
      {{#if this.complete}}
      <div class="col-md-4 pt-3 pb-3">
        <div class="complete" style="background-color: rgba(255, 0, 0, 0.24); width: 100%; height: 100%;">
          <div class="card p-3" style="width: 100%; background-color: rgba(255, 55, 55, 0.24);">
            <img src="/product-images/{{this._id}}.jpg" class="imgsc" alt="{{this.category}}"
              onerror="this.onerror=null;this.src='/images/google-docs.png';">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center; color:white">
              <strike>
                <h5 class="card-title">{{this.category}}</h5>
              </strike>
              <strike>
                <h6>Card no: {{this.number}}</h6>
              </strike>
              <strike>
                <h6>Card Holder name: {{this.name}}</h6>
              </strike>
              <strike>
                <h6>Lost: {{this.lostPlace}}</h6>
              </strike>
              <div class="tag"
                style="background-color: orange; margin-top: 5px; border-radius: 0.2cm; padding-left: 5px;padding-right: 5px;">
                <h4>ACCOMPLISHED</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 pt-3 pb-3">
        <div class="card p-3" style="width: 100%;">
          <img src="/product-images/{{this._id}}.jpg" class="imgsc" alt="{{this.category}}"
            onerror="this.onerror=null;this.src='/images/google-docs.png';">
          <div class="card-body">
            <h5 class="card-title">{{this.category}}</h5>
            <h6>Card no : {{this.number}}</h6>
            <h6>Card Holder name : {{this.name}}</h6>
            <h6>Lost : {{this.lostPlace}}</h6>
            <a href="/view-products/product{{this._id}}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
      {{/if}}
    </div>

    <div class="row">
      {{#if found.length}}
      {{#each found}}
      {{#if this.complete}}
      <div class="col-md-4 pt-3 pb-3">
        <div class="complete" style="background-color: rgba(255, 0, 0, 0.24); width: 100%; height: 100%;">
          <div class="card p-3" style="width: 100%; background-color: rgba(255, 0, 0, 0.24); color: white;">
            <img src="/product-images/{{this._id}}.jpg" class="imgsc" alt="{{this.category}}"
              onerror="this.onerror=null;this.src='/images/google-docs.png';">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
              <strike>
                <h5 class="card-title">{{this.category}}</h5>
              </strike>
              <strike>
                <h6>Card no: {{this.number}}</h6>
              </strike>
              <strike>
                <h6>Card Holder name: {{this.name}}</h6>
              </strike>
              <strike>
                <h6>Lost: {{this.lostPlace}}</h6>
              </strike>
              <div class="tag" style="background-color: orange; margin-top: 5px; border-radius: 0.2cm; padding-left: 5px;padding-right: 5px;">
                <h1>ACCOMPLISHED</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 pt-3 pb-3">
        <div class="card p-3" style="width: 100%;">
          <img src="/product-images/{{this._id}}.jpg" class="imgsc" alt="{{this.category}}"
            onerror="this.onerror=null;this.src='/images/google-docs.png';">
          <div class="card-body">
            <h5 class="card-title">{{this.category}}</h5>
            <h6>Card no : {{this.number}}</h6>
            <h6>Card Holder name : {{this.name}}</h6>
            <h6>Lost : {{this.lostPlace}}</h6>
            <a href="/view-products/found{{this._id}}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
      {{/if}}
    </div>

    {{!-- Display "No data found" only if both `product` and `found` arrays are empty --}}
    {{#unless (or product.length found.length)}}
    <h1 style="color: white;">No data found <a href="javascript:history.back()">Go Back</a></h1>
    {{/unless}}

  </div>
</section>
